---
title: 🌀 Whoops! Not found!
permalink: 404.html
layout: base.layout.liquid
---
<h1>{{ title }}</h1>

<p>Woah there! Looks like you're quite "creative" with your web surfing!</p>

<p>Sorry, but the page you're trying to find doesn't exist.</p>

<style>
    p {
        text-align: center;
    }
</style>
