article {
    padding: 0;
}

article > h1 {
    margin: 0;
}

small {
    margin-bottom: 1vh;
}

p {
    margin: 2vh 5vw;
}

small {
    margin-bottom: 1vh;
}

article > img {
    margin: 0 5vw;
}

@media (min-width: 1000px) {
    article {
        display: flex;
        flex-direction: column;
    }

    article > h1 {
        font-size: 2em;
    }

    article > hr {
        width: 100%;
    }

    p {
        margin: 0 3vw 2vh;
    }

    p:first-of-type {
        margin-top: 1vh;
    }

    article > img {
        margin-left: 3vw;
        margin-right: 3vw;
    }
}
