* {
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

header img {
    width: 90vw;
    border: none;
}

header > h1 {
    font-size: 1em;
    margin: 0;
}

a:visited {
    color: purple;
}

a:not([href]) {
    color: hsl(0 0% 50% / 1);
}

nav {
    display: flex;
    flex-flow: column;
}

nav > a {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 1vh;
}

main {
    margin: auto auto 25vh;
    overflow-x: auto;
}

hr {
    margin-top: 0;
    margin-bottom: 1vh;
}

article {
    padding: 0 5vw;
}

small {
    font-size: 0.7em;
    display: block;
    text-align: center;
    margin-bottom: 2vh;
}

.info {
    font-size: 1.1em;
    padding: 2vh;
    margin-bottom: 1vh;
    background-color: hsl(30 90% 90% / 1);
    text-align: center;
}

.info > p:not(:last-child) {
    margin-top: 0;
    margin-bottom: 2vh;
}

.info > p:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: 1.2em;
    margin: 2.5vh 0 1vh;
    text-align: center;
}

a {
    color: darkblue;
}

i {
    color: hsl(0 0% 50% / 1);
}

@media (min-width: 1000px) {
    * {
        font-size: 16pt;
    }

    body {
        width: 50vw;
        margin: auto;
    }

    header img {
        width: 600px;
    }

    header > h1 {
        font-size: 2em;
    }

    nav {
        flex-flow: row;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 1.5em;
        margin: 1vh 0 1vh;
    }

    article {
        padding: 0 30px;
    }
}
