.info {
    font-size: 0.8em;
    padding: 2.5vw;
}

table {
    width: 100%;
}

thead * {
    font-size: 0.7em;
}

thead, tbody {
    display: inline;
}

tr {
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

th, td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.date, td.date {
    flex: 1;
}

th.prompt, td.prompt {
    flex: 3;
}

td.submissions {
    flex: 1;
    text-align: right;
    font-weight: bold;
}

tr:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

tr.year, thead > tr {
    background-color: hsl(30 90% 90% / 1);
    border-bottom: 1px solid #3c3c3c;
}
