<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.svg">
    <meta name="theme-color" content="#fce6cf">

    <!-- Open Graph -->
    <meta property="og:url" content="https://do-a-doodle-history.glitch.me/">
    <meta property="og:title" content="Do-A-Doodle Prompt History">
    <meta property="og:description" content="Public archive of all of the Do-A-Doodle prompts from Zedaph's Patreon Discord!">
    <meta property="og:image" content="/public/DaD_Unfurl.png">
    <meta property="og:image:height" content="1257">
    <meta property="og:image:width" content="2400">

    <!-- Twitter -->
    <meta property="twitter:url" content="https://do-a-doodle-history.glitch.me/">
    <meta property="twitter:title" content="Do-A-Doodle Prompt History">
    <meta property="twitter:description" content="Public archive of all of the Do-A-Doodle prompts from Zedaph's Patreon Discord!">
    <meta property="twitter:image" content="/public/DaD_Unfurl.png">
    <meta property="twitter:card" content="summary_large_image">

    <title>Do-A-Doodle Prompt History - {{ title }}</title>
    <link rel="stylesheet" href="/public/css/doodle.css"/>
    <link rel="stylesheet" href="/public/css/styles.css"/>
    {% if css %}
        <link rel="stylesheet" href="/public/css/{{ css }}.css"/>
    {% endif %}
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="/public/DaD_Logo.png" alt="Do-A-Doodle"/></a>
        <h1>Prompt History</h1>
    </header>
    <hr/>
    {% include "./menu" %}
    <hr/>
    <main>
        {{ content }}
    </main>
</body>
<script defer>
	const today = new Date();
	if (today.getMonth() === 9) {
		document.getElementById('logo').src = '/public/DaD_Logo_October.png';
	}
</script>
</html>
