---
title: 🎲 Random
order: 4
---
<noscript>
    <div class="info">
        It seems you have JavaScript disabled...<br>
        The "random prompt" feature requires it to work.
    </div>
    <hr/>
</noscript>
<script>
	const prompts = [
        {% for prompt in collections.prompt %}
        {% if prompt.url != false %}
		'{{ prompt.url }}',
        {% endif %}
        {% endfor %}
	];

	window.location.href = randomChoice(prompts);

	function randomChoice(array) {
		return array[randomNumber(0, array.length - 1)];
	}

	function randomNumber(min, max) {
		return Math.floor(Math.random() * (max - min + 1) + min);
	}
</script>
